#generateButton {
    width: 300px;
    height: 100px;
    color: #fff;
    background-color: rgb(14, 12, 144);
    border-radius: 25px;
    font-weight: 500;
    font-size: x-large;
    border: 1px solid rgba(0, 0, 0, 0.24);
    text-shadow: 1px 1px 0px #000;
    transition: all linear .25s;
    box-shadow: 
        -5px -5px 5px 0 rgba(0, 194, 243, 0.116),
        7px 7px 7px 0 rgba(0, 0, 0, 0.349)
}

#generateButton:hover {
    background-color:rgb(0, 174, 255);
}

#generateButton:disabled {
    opacity: 0.5;
}

#backButton:disabled {
    opacity: 0.5;
}

#generateContainer {
    width: 300px;
    height: 100px;
    position: relative;
}

#backButton {
    position: absolute;
    left: 310px;
    bottom: 35px;
}

#resetButton {
    width: 150px;
    height: 75px;
    color: #fff;
    background-color: red;
    border-radius: 25px;
    border: none;
    margin: 10px auto;
    box-shadow: 
        -5px -5px 5px 0 rgba(0, 194, 243, 0.116),
        7px 7px 7px 0 rgba(0, 0, 0, 0.349)
}

#saveIdeaButton {
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: rgb(0, 129, 43);
    height: 30px;
    width: 75px;
    margin: 0 6px;
    box-shadow: 
    -5px -5px 5px 0 rgba(0, 194, 243, 0.116),
    5px 5px 5px 0 rgba(0, 0, 0, 0.349)
}

#saveIdeaButton:hover {
    background-color: rgb(0, 163, 54);
}

#saveIdeaButton:disabled:hover {
    background-color: rgb(0, 129, 43);
}

#saveCheck {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#messageContainer {
    margin-top: 20px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#savingError {
    text-align: center;
    color: rgb(250, 118, 118);
}

#copyMessage {
    text-align: center;
    color: rgb(255, 255, 255);
}

#copyIdeaButton {
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: rgb(0, 94, 117);
    height: 30px;
    width: 75px;
    margin: 0 6px;
    box-shadow: 
    -5px -5px 5px 0 rgba(0, 194, 243, 0.116),
    5px 5px 5px 0 rgba(0, 0, 0, 0.349)
}