#manageTitle {
    text-align: center;
    color: #fff;
}

#manageCategory {
    text-align: center;
    color: #fff;
}

#ideaListing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    font-size: 20px;
}

.ideaRow {
    display: flex;
}

.creatorBox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-size: small;
    min-width: 250px;
    max-width: 250px;
    border: 1px solid white;
}

.ideaBox {
    display: flex;
    flex-grow: initial;
    align-items: center;
    justify-content: center;
    font-size: large;
    width: 100%;    
    padding: 10px;
    background-color: rgb(66, 66, 66);
    color: white;
    border: 1px solid white;
}

.ideaOptions {
    display: flex;
    min-height: 75px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(14, 12, 144);
    padding: 0 10px;
    border: 1px solid white;
}