#submitTitle {
    color: #fff;
    text-align: center;
}

#categoryTitle {
    color: #fff;
    text-align: center;
}

#submitTextArea {
    width: 575px;
}

#submitButton:focus {
    outline: none;
    box-shadow: none;
}

#errorMessage {
    color: rgb(255, 25, 25);
}

@media only screen and (max-width: 767px) {
    #submitTextArea {
        width: 100%;
    }
}