#root{
  background-image: linear-gradient(to right, rgb(5, 134, 255), rgb(4, 58, 207)); 
  min-height: 100vh;
  min-width: 100%;
}

#result {
  text-align: center;
  color: #fff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  transition: 500ms ease-in-out;
}

.row {
  margin-top: 2vh;
}